<% title = post.subject %>

<div class="forum-container">
  <div class="post">
    <div class="post-user">
      <img src="<%= post.avatar %>" alt="pfp">
      <div><strong><%= post.username %></strong></div>
      <div class="badges">
        <% post.badges.forEach(b => { %>
          <span class="badge <%= b %>"><%= b %></span>
        <% }) %>
      </div>
    </div>
    <div class="post-content">
      <h3><%= post.subject %></h3>
      <% if (post.image) { %>
        <div class="post-image">
          <img src="<%= post.image %>" alt="Post image" class="content-image">
        </div>
      <% } %>
      <p><%= post.body %></p>
      <small class="post-time">Posted on <%= new Date(post.time).toLocaleString() %></small>
    </div>
  </div>
</div>
