<% title = post.subject + " - AForums.com" %>

<div class="forum-container">
  <div class="post">
    <div class="post-user">
      <img src="<%= post.avatar %>" alt="Avatar for <%= post.username %>">
      <h4><%= post.username %></h4>
      <div class="badges">
        <% post.badges.forEach(b => { %>
          <span class="badge <%= b %>"><%= b %></span>
        <% }) %>
      </div>
    </div>
    <div class="post-content">
      <h2 class="post-subject"><%= post.subject %></h2>
      <div class="post-body"><%= post.body %></div>
      <% if (post.image) { %>
        <div class="post-image">
          <img src="<%= post.image %>" alt="Post image" class="content-image">
        </div>
      <% } %>
      <div class="post-time">Posted on <%= new Date(post.time).toLocaleString() %></div>
    </div>
  </div>
</div>
